h1 {
    font-size: var(--titre-2);
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    color: var(--dore);
    text-align: center;
}

h2 {
    font-size: var(--titre);
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    color: var(--black);
}

h3 {
    font-size: var(--sous-titre);
    font-family: var(--josefin-sans);
    font-weight: var(--medium);
}

h4 {
    font-size: var(--sous-titre);
    font-family: var(--josefin-sans);
    font-weight: var(--medium);
}

p {
    color: black;
    font-size: var(--texte-basique);
    font-family: var(--arimo);
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

figcaption {
    font-size: var(--legende-image);
    font-family: var(--josefin-slab);
}

blockquote {
    text-align: center;
    font-size: var(--small-uppercase);
    font-family: var(--maven-pro);
    text-transform: uppercase;
    background-color: var(--nuance-dore);
    border-radius: 0% 100% 0% 100% / 70% 40% 70% 40%;
    padding: 24px 20px 18px 10px;
    /* margin: auto; */
}

footer {
    background-color: rgb(167, 33, 33);
    margin: 0px;
}

li {
    list-style: none;
}

.info {
    text-align: center;
    font-size: var(--infos-pratiques);
    font-family: var(--lato);
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--nuance-dore);
    border-radius: 25% 10%;
    box-shadow: 8px -7px 10px rgb(11, 11, 10);
}