/* body {
    margin: 10px;
} */

h1 {
    font-size: var(--titre-2);
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    color: var(--dore);
    text-align: center;
}

h2 {
    padding: 65px 0 35px 15px;
    font-size: var(--titre);
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    color: var(--blanc);
    line-height: 1.3;
}

h3 {
    font-size: var(--sous-titre);
    font-family: var(--josefin-sans);
    font-weight: var(--medium);
    text-decoration: underline var(--nuance-dore) 10px;
    padding-left: 1rem;
}

h4 {
    font-size: var(--sous-titre);
    font-family: var(--josefin-sans);
    font-weight: var(--medium);
}

p {
    color: black;
    font-size: var(--texte-basique);
    font-family: var(--arimo);
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

figcaption {
    font-size: var(--legende-image);
    font-family: var(--josefin-slab);
}

blockquote {
    text-align: center;
    font-size: var(--small-uppercase);
    font-family: var(--maven-pro);
    text-transform: uppercase;
    background-color: var(--nuance-dore);
    border-radius: 0% 100% 0% 100% / 70% 40% 70% 40%;
    padding: 24px 20px 18px 10px;
    /* margin: auto; */
}

li {
    list-style: none;
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--nuance-dore);
    border-radius: 25% 10%;
    box-shadow: 8px -7px 10px rgb(11, 11, 10);
}

button {
    background: none;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
  }