img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

h2 {
    /* margin-top: 50px; */
    background-image: url(../../../public/img/header/background.webp);
    background-size: cover;
}

.img_article {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--ombres-images);
    margin-top: 15px;
}

.extrait::before {
    display: block;
    height: 30px;
    content: "“";
    margin-left: -8px;
    font: 400%/1 Georgia, serif;
    color: #999;
}

.extrait_fin::after {
    display: block;
    height: -20px;
    content: "”";
    margin-left: 85px;
    font: 400%/1 Georgia, serif;
    color: #999;
}

.photo_moi {
    margin-top: 10px;
    width: 70%;
    margin-left: 16%;
    border-radius: 100%;
    box-shadow: var(--ombres-images);
}