img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

h2 {
    /* margin-top: 50px; */
    background-image: url(../../../public/img/header/background.webp);
    background-size: cover;
}

.img_article {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--ombres-images);
    margin-top: 15px;
}