img {
    width: 100%;
}

h2 {
    /* margin-top: 50px; */
    background-image: url(../../../public/img/header/background.webp);
    background-size: cover;
}

.img_article {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--ombres-images);
}

.icon_res {
    display: inline-block;
    width: 15%;
    padding: 5px;
}

.logo_mmi {
    width: 15%;
    padding: 5px;
}