:root {
    /* Color styles */
--noir: rgba(22, 22, 22, 1);
--dore: rgba(241, 197, 55, 1);
--blanc: rgba(251, 251, 251, 1);
--nuance-dore: rgba(255, 216, 13, 1);
--bleu: rgba(0, 10, 25, 1);
--bleulink: rgb(61, 128, 228);

/* Text-size styles */
--titre: 28px;
--titre-2: 24px;
--sous-titre: 24px;
--texte-basique: 1rem;
--légende-image: 1rem;
--infos-pratiques: 14px;
--big-uppercase: 26px;
--small-uppercase: 18px;

/* Typography */
--arimo: 'Arimo', sans-serif;
--josefin-sans: 'Josefin Sans', sans-serif;
--josefin-slab: 'Josefin Slab', serif;
--lato: 'Lato', sans-serif;
--maven-pro: 'Maven Pro', sans-serif;

/* Font-weight */
--regular: 400;
--medium: 500;
--bold: 700;

/* Text styles */
--italic: italic;

/* Effect styles */
--ombres-images:  8px -7px 10px rgba(241, 197, 55, 1);
}