.footer {
    background-color: var(--bleu);
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
}

.footer_adn {
    margin-top: -31px;
    width: 100%;
}

.footer_titre {
    text-align: center;
    color: var(--dore);
    font-size: var(--big-uppercase);
    font-family: var(--maven-pro);
    font-weight: var(--medium);
    text-transform: uppercase;
}

.footer_info {
    display: block;
    color: var(--blanc);
    text-align: center;
    font-size: var(--infos-pratiques);
    font-family: var(--lato);
    padding: 5px;
    margin: 0;
    font-weight: var(--medium);
    margin-top: 10px;
}

.footer_lienmmi {
    color: var(--bleulink);
    text-decoration: underline;
}

.footer_res {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 10px;
    margin: 0%;
    padding: 0%;
}

.footer_mmi {
    width: 60px;
    margin-left: 20px;
}

.footer > ul {
    padding-left: 30%;
}

.footer_montbe {
    display: flex;
}