.footer {
    background-color: var(--noir);
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
}

.footer_adn {
    margin-top: -31px;
    width: 100%;
}

.footer_img {
    margin: 10px;
}

.footer_titre {
    color: var(--dore);
    font-size: var(--big-uppercase);
    font-family: var(--maven-pro);
    font-weight: var(--medium);
    text-transform: uppercase;
}

.footer_lien {
    color: var(--blanc);
    font-size: var(--small-uppercase);
    font-family: var(--maven-pro);
    font-weight: var(--regular);
    text-transform: uppercase;
}

.footer_infos {
    color: aqua;
    text-align: center;
    font-size: var(--infos-pratiques);
    font-family: var(--lato);
}

.footer_adress {
    color: var(--blanc);
}