.frise {
    margin: 15px;
    background-color: var(--noir);
    padding: 10px;
    border-radius: 10px;
}

.frise_date {
    z-index: 2;
    position: absolute;
    color: var(--dore);
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-family: var(--josefin-sans);
    font-size: var(--big-uppercase);
    text-transform: uppercase;
}

.frise_img {
    z-index: 1;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.frise_descr {
    margin-top: -4px;
    text-align: center;
    padding: 12px;
    background-color: var(--nuance-dore);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}