.menu {
  z-index: 5;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  color: var(--blanc);
  background-color: var(--bleu);
  font-size: var(--small-uppercase);
  font-family: var(--maven-pro);
  text-transform: uppercase;
  line-height: 25px;
  transition: 0.4s transform cubic-bezier(.5,.75,0,.99);
  transform: initial;
}

.menu_title, .menu_titlecolor {
  padding: 10px;
  margin-bottom: -5px;
  font-size: var(--big-uppercase);
  font-family: var(--maven-pro);
  text-transform: uppercase;

}

.menu_title {
  margin-top: 60px;
}

.menu_titlecolor {
  color: var(--dore);
}

.menu_linkarticle {
  color: var(--blanc);
  display: flex;
  gap: 7px;
  line-height: 1.3rem;
  margin-bottom: 10px;
}

.menu_icon {
  width: 10%;
  height: auto;
}

.actif {
  transform: translateX(100%);
}

.menu_lineA {
  content: "";
  position: absolute;
  background-color: var(--blanc);
  width: 150px;
  height: 1.5px;
  top: 107px;
  left: 6px;
}

.menu_lineB {
  content: "";
  position: absolute;
  background-color: var(--nuance-dore);
  width: 180px;
  height: 1.5px;
  top: 418px;
  left: 10px;
}

.menu_social {
  display: flex;
  gap: 15px;
  width: 60%;
  height: auto;
  margin-top: 60px;
  margin-left: -40px;
}