.menu {
  position: fixed;
  gap: 20px;
    color: var(--blanc);
    background-color: var(--noir);
    font-size: var(--small-uppercase);
    font-family: var(--maven-pro);
    text-transform: uppercase;
    line-height: 25px;
}

.menu_title, .menu_titlecolor {
    font-size: var(--big-uppercase);
    font-family: var(--maven-pro);
    text-transform: uppercase;
}

.menu_titlecolor {
  color: var(--dore);
}

.menu_linkarticle {
  color: var(--blanc);
  display: flex;
  gap: 7px;
  line-height: 25px;
}

.menu_icon {
  width: 7%;
  height: auto;
}