.menu {
  z-index: 5;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  color: var(--blanc);
  background-color: var(--bleu);
  font-size: var(--small-uppercase);
  font-family: var(--maven-pro);
  text-transform: uppercase;
  line-height: 25px;
  transition: 0.4s transform cubic-bezier(.5,.75,0,.99);
  transform: initial;
  mix-blend-mode: multiply;
}

.menu_title, .menu_titlecolor {
  padding: 20px;
  margin-bottom: -15px;
  font-size: var(--big-uppercase);
  font-family: var(--maven-pro);
  text-transform: uppercase;

}

.menu_title {
  margin-top: 60px;
}

.menu_titlecolor {
  color: var(--dore);
}

.menu_linkarticle {
  color: var(--blanc);
  display: flex;
  gap: 7px;
  line-height: 1.3rem;
  margin-bottom: 10px;
}

.menu_icon {
  width: 7%;
  height: auto;
}

.actif {
  transform: translateX(100%);
}